<div class="top-container"
     fxLayout= "row"
     fxLayoutAlign="space-around start">

  <div fxFlex="30%" fxFlexOffset="250px">
      <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput name="name" placeholder="City Name" [(ngModel)]="city.name">
          </mat-form-field>

          <mat-form-field class="example-full-width">
              <input matInput name="description" placeholder="description" [(ngModel)]="city.description">
          </mat-form-field>

          <mat-form-field class="example-full-width">
              <input matInput name="temperature" placeholder="temperature" [(ngModel)]="city.temperature">
          </mat-form-field>

          <!-- <div class="button-row" sytle="margin-left: 10px;" *ngIf="saveForm">
              <button mat-raised-button color="primary">Submit</button>
          </div> -->

          <div class="button-row" sytle="margin-left: 10px;" *ngIf="updateForm">
              <button mat-raised-button color="primary" (click)="saveUpdateCity(city)">Update</button>
          </div>
        </form>
  </div>

  <div fxFlex="40%">
      <mat-accordion *ngFor ="let city of cities">
          <mat-expansion-panel (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ city?.weather.name }}
              </mat-panel-title>
              <mat-panel-description>
                {{ city?.weather.description }} | Temp: {{ city?.weather.temperature | number:'1.0-0' }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div style="text-align: center">
            <button style="font-size: 20px;" mat-button mat-suffix mat-icon-button color="warn" class="delete-button" arial-label="delete" matTooltip="Delete City" (click)="deleteCity(city.id)">
               <mat-icon>delete</mat-icon>
            </button>
            <button style="font-size: 20px;" mat-button mat-suffix mat-icon-button color="primary" class="update-button"
                    arial-label="update" matTooltip="Update City" (click)="updateCity(city)">
                <mat-icon>edit</mat-icon>
            </button>
          </div>
          </mat-expansion-panel>

        </mat-accordion>
  </div>
</div>