<mat-sidenav-container class="sidenav-container">
    <!-- 'Handset' is one of the breakpoint names of angular material layout. The list of breakpoint names is Handset, Tablet, Web, HandsetPortrait, TabletPortrait, WebPortrait, HandsetLandscape, TabletLandscape, WebLandscape.
    Please check https://material.io/design/layout/responsive-layout-grid.html#breakpoints for more information about material layout breakpoints -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="[ '/weather' ]">Home</a>
      <a mat-list-item class="menu-link" *ngIf="(userAuth.user$ | async)?.uid" [routerLink]="[ '/user/cities', (userAuth.user$ | async)?.uid || 'all' ]">Saved Cities</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Weather App</span>
      <span class="spacer"></span>
      <span>
        <a class="bg-color" *ngIf="!(userAuth.user$ | async)?.uid" [routerLink]="['/user/login']">
          Login
        </a>
        <a class="bg-color" *ngIf="( userAuth.user$ | async)?.uid" [routerLink]="['/user/profile']">
          Profile
        </a>
        <!-- <a class="bg-color" *ngIf="( userAuth.user$ | async)?.uid" (click)="userAuth.logout()">
          Logout
        </a> -->
      </span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
